body {
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  border-radius: 80px;
  box-shadow: 8px 8px 15px rgb(92, 88, 88);
}

.logo {
  color: rgb(0, 217, 255);
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(0, 217, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-links li a:hover {
  transform: scale(1.1);
  border-radius: 50px;
}

.sec1 {
    background-color: #e0f2f1;
    padding: 30px;
    margin: 0;
    padding-bottom: 20px;
}

.sec1 .fa-house{
  font-size: 40px;
  padding-top: 40px;
}

.sec1 .div1 h1 {
    font-size: 48px;
    color: #004d40;
}

.sec1 .div1 h4 {
    font-size: 20px;
    color: #00695c;
}

/* Section 2 */
.sec2 {
    background-color: #121212;
    padding: 40px 10px;
}

.sec2 .div2 img {
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.sec2 .div2 img:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgb(32, 32, 32);
}

.sec2 .div2 h2 {
    color: #ffffff;
}

.sec3 .fa-address-card{
  font-size: 60px;
  padding: 10px;
}

.sec2 .box1{
 background-color: #1e88e5; /* blue tone */
    color: white;
  width: 300px;
  height: 200px;
  border-radius: 10px;
   transition:all 0.3s ease-in-out;
   padding: 4px;
   margin-right: 10px;
}

.sec2 .box2{
  background-color: #1e88e5;
    color: white;
 width: 300px;
  height: 200px;
   border-radius: 10px;
   margin: 0px 15px;
   transition:all 0.3s ease-in-out;
   padding: 4px;
   margin: 0 5px;
}

.sec2 .box3{
  background-color: #1e88e5; /* blue tone */
    color: white;
  width: 300px;
  height: 200px;
   border-radius: 10px;
   transition:all 0.3s ease-in-out;
   padding: 4px;
   margin-left: 10px;
}

.sec2 .box-container{
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.sec2 .box1:hover{
  transform: translateY(-10px);
   box-shadow: 0 5px 8px rgb(68, 67, 67);
}

.sec2 .box2:hover{
  transform: translateY(-10px);
   box-shadow: 0 8px 16px rgb(68, 67, 67);
}

.sec2 .box3:hover{
  transform: translateY(-10px);
   box-shadow: 0 8px 16px rgb(68, 67, 67);
}

.sec2 .box-container .box1 button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ffffff;
    color: #1e88e5;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sec2 .box-container .box1 button:hover {
  transform: scale(1.05);
  background-color: #333;
}

.sec2 .box1 .fa-image{
  font-size: 40px;
}

.sec3{
  background-color: #e8f5e9;
  padding-top: 20px;
  padding-bottom: 40px;
}